/* navigaton */
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
}

.primary-header {
  margin-top: var(--size-700);
}

/* when screen size is not mobile */
.mobile-nav-toggle {
  display: none;
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
  font-size: var(--fs-nav);
  font-weight: var(--fw-semi-bold);
}

.nav-list a {
  color: var(--clr-primary-400);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
}

@media only screen and (max-width: 50em) {
  .primary-header[data-overlay] {
    position: relative;
    z-index: 999;
  }
  .primary-nav {
    display: none;
    position: fixed;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    max-width: 25rem;
    margin-inline: auto;
    background-color: var(--clr-neutral-100);
    border-radius: var(--size-100);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
    z-index: 1;
  }

  .primary-header[data-overlay]::before {
    content: '';
    position: fixed;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.8));
    height: 100vh;
    width: 100vw;
  }

  .primary-header .btn {
    display: none;
  }

  .nav-list {
    display: grid;
    gap: var(--size-400);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  /* a data-visible attribute will be added to the element and navigation will be displayed using js */
  .primary-nav[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    right: var(--size-400);
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0.5em;
    width: 1.65rem;
    aspect-ratio: 1;
    z-index: 100;
    background-image: url(../images/icon-hamburger.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* mobile nav close button */
  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url(../images/icon-close.svg);
  }
}
